
            .navbar
            {
                
                background-color: gray;
                
                width: 100%;
                height: 40px; 
            }
            .fontstyle
                {
                color: white;
                font-family: Arial,Roboto; 
                 height: 10%;
                 text-align: right;
                 
            }
            .d1
            {
                background-color: limegreen;
                width: 100%;
                height: 5px;
                position: absolute;
                left: 0px;
            }
            .d2
            {
                width: 100%;
                height: 10%;
            }
      

            .d3{
                        position: absolute;
                        background-color: grey;
                       
                        left: 0px;
                        height: 7%;
                        width: 100%;
      
           }
           .d4
           {
               padding-top: 1%;
           }

           .d5
           {
            position: absolute;
            left: 0px;
            right: 0px;
            height: 80%;
            width: 100%;
           }
           .d6
           {
              padding-left: 100px;
              padding-top: 70px;
           }
           .d7
           {
              padding-left: 100px;
              padding-top: 1px;
              padding-right: 100px;
           }

           .cards{
 
          display: grid;
  
          grid-template-columns: repeat(3, 1fr);
  
          grid-auto-rows: auto;
  
          grid-gap: 1rem;
  
          }
  
          .card {
  
          border: 2px solid #e7e7e7;
  
          border-radius: 4px;
  
          padding: .5rem;
  
          }
          .button
         {
          background-color: yellow;
         }
         .bdyimg
         {
          width: 100%;
          height: 180px;
          padding-top: 60px;
          padding-left: 10px; 
          
          }
          .index
          {
          width: 80%;
          height: 360px;
          opacity: 0.5;
          background-color: black;
          padding-top: 50px;
          margin-left: 100px;

          }

          .text
          {
                    width: 45%;
                    height: 300px;
                    float: right;
                    padding-right: 150px;
                    color: white;

          }

          .imagebox {
  width: 50%;
  float: left;
}

.textbox {
  width: 50%;
  float: right;
  text-align: center;
  padding-top: 10px;
  background-color: white;
  color: black;
}
.d8
{
    width: 100%;
    height: 100%;
    padding-bottom: 30%;
    
}
.d9
{
    width: 100%;
    height: 50%;
    padding-top: 1px;
    padding-bottom: 20px;
    
    

}
.d10
{
    text-align:right;
    padding-right: 130px;
    
}
            .d11
{
    text-align: center;
    padding-bottom: 40px;
}
.d12
           { width: 5px;
               height: 5px;
               

           }
           .index1
          {
          width: 100%;
          height: 50%;
          position: absolute;
          left: 0;
          
          
          }
          .d13
          {
              width: 100%;
              height: 100%;
              padding-top: 100px;
              padding-bottom: 100px;
              padding-left: 10px;
              padding-right: 10px;
          }
          .d14
          {
            text-align:right;
             padding-right: 5px;
             padding-top: 40px;
             padding-bottom: 40px;
          }
          .d15
          {
              width: 30%;
              height: 50%;
          }
          .d16
          {
              background-color: lightgrey;
              width: 100%;
              height: 150%;
              position: absolute;
                left: 0px;
              
                display: flex;
          }
          .d17
          {
              width: 100%;
              height: 50%;
              padding-right: 100%;
          }

          .leftbox { 
                float:left;  
                background:lightgrey; 
                width:35%; 
                height:450px; 
                padding-left: 100px;
            } 
            .middlebox{ 
                float:left;  
                background:lightgrey; 
                width:20%; 
                height:450px; 
            } 
            .rightbox{ 
                float:right; 
                background:lightgrey; 
                width:30%; 
                height:450px; 
            } 
            
            
        